*{
    margin: 0;
    padding:0;
    /* why so that margin and padding is adjusted */
    box-sizing: border-box;
    /*  */
    list-style-type: none;
    /*  */
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
}

/* for heading Raleway Google fonts */
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}


/* for description and <p> tages we using roboto fonts*/

p,a{
    font-family: 'Roboto', sans-serif;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{

    max-width: 1330px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.active{
    width: 40% !important;
    z-index:20 !important;
}

.menu-hide{
    display: inline-block !important;
}

.clear{
    clear: both;
}


/* side-bar css*/
section#sidebar{
    width: 20%;
    background-image: linear-gradient(rgba(155,60,83,0.9),
                      rgba(255,57,111,0.9)), url('../images/bullet-train.jpeg');
    position: fixed;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    z-index:99;
    transition: all 1s ease;

}
/* sidebar-brand */
.sidebar-brand {
    padding: 50px 40px;
}

/* sidebar-menu css*/
.sidebar-menu{
    margin-top: 50px;
}

.sidebar-menu ul li{
    transition: all 0.5s ease;
}
.sidebar-menu  ul li:hover{
    background-color: rgba(0,0,0,0.5);
}

.sidebar-menu ul li a{
    padding: 10px 40px;
    color: #fff;
    display: block;
}
.sidebar-menu ul li span {
    padding-left: 10px;
}

/* main-content css */
section#main-content{
    
    width: 80%;
    float: right;
}


header.main-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 10px #bbb;
}

.header-left {
    float: left;
    width: 33%;
    padding: 20px;
}

.header-left img {
    width: 13%;
    float: left;
    padding: 10px;
}

.header-left p {
    color: #bbb;
}

input.search-bar {
    width: 50%;
    border-radius: 20px;
    padding: 8px 10px;
    border: 2px solid #bbb;
    transition: width 1s ease;
}

input.search-bar:focus {
    outline: none;
    border: 2px solid #fd5a5e;
    width: 95%;
}

.fa.fa-search {
    height: 35px;
    background-color: #fd5a5e;
    color: #fff;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    margin: -35px;
}
i.fa.fa-bars {
    margin-right: 10px;
}

.card-box {
    background-color: #fd5a5e;;
    background: linear-gradient(45deg,#FF5252 0%,#f48fb1 100%);
    float: left;
    margin-top: 150px;
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 25px;
    color: #fff;
}

/*pusedo css class */
.cus-h:after {
    content: "\f0c0";
    font-family: "FONTAWESOME";
    right:0;
    position: absolute;
    

}


.cus-pro:after {
    content: "\f15b";
    font-family: "FONTAWESOME";
    right:0;
    position: absolute;
    

}

.cus-num {
position: relative;    
}

.cus-ord:after {
    content: "\f0c0";
    font-family: "FONTAWESOME";
    right:0;
    position: absolute;
    

}


.cus-inc:after {
    content: "\f0c0";
    font-family: "FONTAWESOME";
    right:0;
    position: absolute;

}

.pro-table {
    float: left;
    width: 68%;
    box-shadow: 10px 10px 20px #bbb;
    padding: 15px;
    background-color: #fff;
}

.cus-table {
    float: right;
    width: 30%;

    box-shadow: 10px 10px 20px #bbb;
    padding: 15px;
    background-color: #fff;
}

table td {
    padding: 20px 0px 0px 0px;
}

table th {
    text-align: left;
}

.content-pro-par {
    margin: 6% 2% 0% 2%;
    margin-top: 6%;
    margin-right: 2%;
    margin-bottom: 0px;
    margin-left: 2%;
}

span.rev-span {
    background-color: red;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;
}


span.progress-span {
    background-color: green;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;
}
span.pending-span {
    background-color:blue;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;
}

.rec-h{
    float: left;
}

.rec-btn{
    float: right;
}

.recent-pro {
    margin-bottom: 25px;
}

.rec-btn button {
    background-color: #fc5c62;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.td-img img {
    width: 35px;
}

td.td-cnt-i i {
    color: #fd5c62;
    padding-right: 8px;
}



@media screen and (max-width: 768px)
{
    .card-box {
    float: none;
    width: 100%;
    margin: 0px auto 20px auto;
    padding: 10px 20px;
    }


    .main-content-info{
        margin-top: 130px;
    }

    .cus-num:after{
        top: 10px;
    }

    .pro-table{
        float: none;
        width: 100%;
        margin: 0px auto 20px auto;
    }
    .cus-table{
        float: none;
        width: 100%;
        margin: 0px auto 20px auto;
    }

    table td{
        font-size: 14px;
    }
   .rec-h h2{
        font-size: 18px;
    }
    .rec-btn button {
        font-size: 11px;
        width: 50px;
        height: 30px;
        line-height: 30px;
    }

    .searchDiv{
        display: none;
    }
    .header-left{
        float: left;
        width: 50%;
    }
    .header-left h2{
    font-size: 14px;
    }
    
    .header-left h3{
        font-size: 12px;
        }
    .header-left p{
        font-size: 10px;
        }
        
        .header-left img{
            
            width: 23%;
            padding: 1px;
        }
        section#sidebar{

            width: 16%;
        }
        
        section#main-content{

            width: 84%;
        }

        .sidebar-menu ul li a
        {
            padding: 10px 20px;
        }

        .sidebar-menu ul li span
        {
            display:none;
        }

        .sidebar-brand span{
            display:none;
        }
        .sidebar-brand {
            padding: 10px 20px    ;
        }
    }